# node modules
node_modules/

# dist - pasta de build do Vite
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistemas operacionais
.DS_Store
Thumbs.db

# arquivos do editor
.vscode/
*.code-workspace

# lock files
package-lock.json
yarn.lock

# ambiente local
.env
.env.*.local

# output do build no Cloudflare
.netlify/
.vercel/
